/* source: 

typewriter-effect: https://codepen.io/SitePoint/pen/YzxKGpa

*/

.typewriter {
    background-color: grey;
}

.jumbotron {
    height: 31vh;
}

a{
    color: mediumseagreen;
  }
  .c1{
    display: inline-block;
  }
  .c2{
    display: inline-block;
  }
  .c3{
    display: inline-block;
  }
  .c4{
    display: inline-block;
  }
  h1{
    font-size: 3.0rem;
    padding: 20px;
  }

  h1 .type{
      font-size: 2.0rem;
      overflow: hidden;
      border-right: .15em solid cornflowerblue;
      white-space: nowrap; 
      width: 0;
      padding: 5px;
      animation: 
        typing 1s steps(25, end) forwards;
  }
  h1 .type2{
      font-size: 2.0rem; 
      overflow: hidden;
      border-right: .15em solid cornflowerblue;
      white-space: nowrap; 
      width: 0;
      padding: 5px;
      animation: 
        typing 1s steps(25, end) forwards;
      animation-delay: 1s;
  }
  h1 .type3{
      font-size: 2.0rem; 
      overflow: hidden;
      border-right: .15em solid cornflowerblue; 
      white-space: nowrap; 
      width: 0;
      padding: 5px;
      animation: 
        typing 1s steps(25, end) forwards;
      animation-delay: 2s;
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  @keyframes blink {
    from { border-color: transparent }
    to { border-color: cornflowerblue; }
  }
