body {
    text-align: center;
    background-color: rgb(241, 241, 239);
}

.left-box {
    float:left;
    width:50%;
    height:70vh;   
    background-image: url("https://images.unsplash.com/photo-1553002401-c0945c2ff0b0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
}

.right-box {
    float:right;
    width:50%;
    height:70vh;
    padding:5%
}

.right-right-box {
    float:right;
    width:50%;
    height:54vh;
    padding: 1%;
}

.left-right-box {
    float:left;
    width:50%;
    height:54vh;
    padding: 1%;
    
}
