body {
    text-align: center;
    background-color: rgb(241, 241, 239);
}

.left-box {
    float:left;
    width:50%;
    height:70vh;   

}

img {
    float:left;
    width:100%;
    height:70vh;   
    
}

.right-box {
    float:right;
    width:50%;
    height:70vh;
    padding:5%
}

.right-right-box {
    float:right;
    width:50%;
    height:54vh;
    padding: 1%;
}

.left-right-box {
    float:left;
    width:50%;
    height:54vh;
    padding: 1%;
    
}
