/* source: 

scroll: https://www.solodev.com/blog/web-design/add-a-scroll-to-top-button-to-your-website.stml 

typewriter-effect: https://codepen.io/SitePoint/pen/YzxKGpa

*/

.scroll-top {
    width: 75px;
    height: 75px;
    position: fixed;
    bottom: 25px;
    left: 20px;
    display: none;
}
.scroll-top i {
    display: inline-block;
    color: #FFFFFF;
}

